<div id="body" ng-app="ecransBNP" ng-controller="ecran1_BNP_Controller as ecran1Ctrl"
     xmlns:filter="http://www.w3.org/1999/xhtml" xmlns:>

    <div id="hr_header">
        <hr>
    </div>

    <!-- ajout de la page ecran1-->
    <div>
        <table style="width:90%" align="center">
            <tr>
                <td id="countryList">
                    <label>Liste de pays</label>
                </td>
                <td>
                    <label>nombre de pays= {{ecran1Ctrl.nomberCountry()}}</label>
                </td>
                <td align="right">
                    <form class="search-in-line">
                        <div class="search">
                            <label></label>
                            <input type="text" ng-model="search" class="form-control"  name="search" placeholder="search" size="10" >
                        </div>
                    </form>
                </td>
            </tr>
        </table>

        <div>
            <h1>cette page est la page d'accueil du projet</h1>
        </div>

        <div >
            <table border="1"  ng-model="elementCountry" width="90%" align="center">

                <thead>
                    <tr>
                        <th ng-click="sort('Name')">Country1
                                <span class="glyphicon sort-icon"  ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-up':!reverse}"></span>
                        </th>
                        <!--<th>-->
                            <!--<a href="#" ng-click="orderByField='firstName'; reverseSort = !reverseSort">-->
                                <!--Country <span ng-show="orderByField == 'firstName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>-->
                            <!--</a>-->
                        <!--</th>-->
                        <th>
                            <a href="#" ng-click="orderByField='lastName'; reverseSort = !reverseSort">
                                All <span ng-show="orderByField == 'lastName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="orderByField='age'; reverseSort = !reverseSort">
                                None <span ng-show="orderByField == 'age'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="orderByField='age'; reverseSort = !reverseSort">
                                Custom <span ng-show="orderByField == 'age'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="elementCountry in ecran1Ctrl.countrys |filter:search | orderBy:sortKey:reverse ">
                        <th> {{elementCountry.Name}}</th>
                        <td> {{elementCountry.All}}</td>
                        <td> {{elementCountry.None}}</td>
                        <td> {{elementCountry.Custom}}</td>
                        <td> {{elementCountry.Name}}</td>
                    </tr>
                </tbody>

                <dir-pagination-controls max-size="5"    direction-links="true"  boundary-links="true">
                </dir-pagination-controls>



                <!--<pagination-->
                        <!--ng-model="currentPage"-->
                        <!--total-items="elementCountry.length"-->
                        <!--max-size="5"-->
                        <!--direction-links="true"-->
                        <!--boundary-links="true">-->
                <!--</pagination> -->

            </table>
        </div>

    </div>

</div>
